.Button {
  background: none;
  outline: 0;
  margin: 0;
  padding: 0.3rem;

  cursor: pointer;
  user-select: none;

  color: #00aeff;
  border: 2px solid #00aeff;
  border-radius: 4px;
  opacity: 1;
  transition: all 0.2s linear;
}

.Button:hover,
.Button:focus {
  opacity: 0.8;
}

.Button:hover {
  box-shadow: 1px 2px 3px 0px rgba(50, 50, 50, 0.25);
}

.Button:disabled {
  color: #999;
  border-color: #999;
  pointer-events: none;
  cursor: default;
}
