.Search {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 900px;
}

.Search__main {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
}

.Search__empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Search__reset-button {
  color: #00aeff;
  text-decoration: underline;
  outline: 0;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.Search__results {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.Search__field {
  margin-bottom: 1rem;
}

.Search__pagination {
  margin-top: 1rem;
}

.Search__list {
  width: 100%;
}

.Search__facets {
  margin-left: 1rem;
}

/* It gets cramped at some point, facets are less essential */
@media only screen and (max-width: 600px) {
  .Search__facets {
    display: none;
  }
}
