.GenreFacet {
  min-width: 200px;
}

.GenreFacet__title {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
  margin-bottom: 0.5rem;
}

.GenreFacet__list {
  margin: 0;
  padding: 0;
}

.GenreFacet__item {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.GenreFacet__item--selected .GenreFacet__genre {
  font-weight: bold;
  color: #00aeff;
  text-decoration: underline;
}

.GenreFacet__item:not(:last-of-type) {
  margin-bottom: 0.2rem;
}

.GenreFacet__genre {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.GenreFacet__hits {
  color: #999;
}
