/* OMG Thank you http://danielstern.ca/range.css/#/ */

.Slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}

.Slider:focus {
  outline: none;
}

.Slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #00aeff;
  border-radius: 25px;
  border: 0px solid #000000;
}

.Slider::-webkit-slider-thumb {
  box-shadow: 0.5px 0.5px 0.5px rgba(40, 40, 40, 0.67), 0px 0px 0.5px rgba(53, 53, 53, 0.67);
  border: 2.8px solid #00aeff;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.Slider:focus::-webkit-slider-runnable-track {
  background: #57caff;
}

.Slider::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #00aeff;
  border-radius: 25px;
  border: 0px solid #000000;
}

.Slider::-moz-range-thumb {
  box-shadow: 0.5px 0.5px 0.5px rgba(40, 40, 40, 0.67), 0px 0px 0.5px rgba(53, 53, 53, 0.67);
  border: 2.8px solid #00aeff;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

.Slider::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.Slider::-ms-fill-lower {
  background: #0073a8;
  border: 0px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

.Slider::-ms-fill-upper {
  background: #00aeff;
  border: 0px solid #000000;
  border-radius: 50px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

.Slider::-ms-thumb {
  box-shadow: 0.5px 0.5px 0.5px rgba(40, 40, 40, 0.67), 0px 0px 0.5px rgba(53, 53, 53, 0.67);
  border: 2.8px solid #00aeff;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 4px;
}

.Slider:focus::-ms-fill-lower {
  background: #00aeff;
}

.Slider:focus::-ms-fill-upper {
  background: #57caff;
}
